/* Основные стили */

* {
    margin: 0;
    padding: 0;
}
.pics{
    border-radius: 50%;
}
@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-Semibold.ttf");
}

@font-face {
    font-family: 'Merriweather';
    src: url("../fonts/Merriweather-Black.ttf");
}

body {
     overflow-x: hidden;
    background-color: #191411;
    font-family: 'Gilroy', sans-serif;
    color: white;
}

.header {
    padding: 40px 0;
}


.button {
    width: 200px;
    height: 52px;
    padding: 19px;
    border-radius: 8px;
    background: linear-gradient(86deg, #DA8023 0%, #E2B438 100%);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    outline: none;
    color: #191411;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
  position: relative;
  left: 800px;
  margin-top: -200px;
    
}

.main {
    background-image: url("../images/main_bg.png");
    overflow: hidden;
}

.button:hover {
    background: linear-gradient(96deg, #ac6115 0%, #9e7a19 100%);
}

.common-title {
    text-align: center;
    font-family: "Merriweather", sans-serif;
    text-transform: uppercase;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: 1.92px;
}

.ca {
    font-size: 40px;
    margin-top: 100px;
    margin-left: 200px;
}

.header .container {
    display: flex;
    align-items: center;
    user-select: none;
    font-size: 40px;
}

.logo img {
    vertical-align: bottom;
}

.menu {

   margin-left: 191px;
}

.menu-list {
    list-style: none;
    display: flex;
}

.menu-item {
    float: left;
    margin-right: 88px;
    font-size: 30px;
}

.menu-item a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.menu-item a:hover {
    border-bottom: 2px solid white;
}

.main-content {
    padding-top: 30px;
    padding-bottom: 199px;
}

.main-content .container {
    position: relative;
}

.main-info {
    width: 608px;
    margin-bottom: 100px;
}

.main-title {
    color: white;
    font-family: 'Merriweather', sans-serif;
    font-size: 70px;
    line-height: 100px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 26px;
}

.main-text {
    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 26px;
}

.main-image {
    border-radius: 25px;
    height: 200px;
    width: 200px;
    position: relative;
    
 bottom: 250px;
    margin-left: 900px;
}

.authors {
    margin-top: 10px;
    background-image: url("../images/whybg.png");
    background-position: center;
    background-size: initial;
    padding-bottom: 80px;
    margin-bottom: 108px;
    padding-top: 8%;
}

b {
    color: red;
}

.why-items {
    margin-top: 60px;
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(3, 312px);
    justify-content: center;
}

.why-item {
    text-align: center;
}

.why-item-title {
    padding: 24px;
    font-size: 24px;
    font-family: "Gilroy", sans-serif;
    line-height: 29px;
}

.why-item-text {
    font-size: 16px;
    font-family: "Gilroy", sans-serif;
    line-height: 140%;
}

.tokenomics {
    background-image: url("../images/burgers_bg.png");
    background-position: top center;
    background-size: 1400px;
    padding-bottom: 300px;
    padding-top: 2%;
}

.tokenomics-list {
    display: flex;
    font-size: 25px;
}

.tokenomics-menu {
    padding-top: 6%;
    padding-left: 450px;
}

.tokenomics-item {
    list-style: none;
    padding-left: 30px;
    background: url(../images/solana.png) no-repeat 0 50%;
}

.roadmap {
    background-position: top center;
    background-image: url("../images/order_bg.png");
    overflow: hidden;
    padding-top: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#omo{
    position: relative;
    top: 30px;
}
#omo3{
    position: relative;
    top: 30px;
}
#omo4{
    position: relative;
    top: 30px;
}
.roadmap-pictures img {
    margin-left: 10px;
}

.footer {
    padding: 60px 0;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rights {
    font-size: 16px;
    line-height: 20px;
}
/* Basic styling for the container */
/* Hamburger basic styles */
.hamburger {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: relative;
    left: 1400px;
    bottom:50px;

  }
  
  .hamburger div {
    height: 4px;
    width: 100%;
    background-color: #efecec;
    border-radius: 2px;
    transition: all 0.3s ease;
  }
  
  /* Add animation for the open state */
  .hamburger.open div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .hamburger.open div:nth-child(2) {
    opacity: 1;
  }
  
  .hamburger.open div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  #roadmaptext{
    font-size: 1px;
    max-width: 100%;
    text-align: center;
    
}
#bottom{
  display: none;
}
  /* Menu styling */
  #d{

    display: none;
  
    /* Add your menu styling here */
  }
  
  .list-group-item:hover {
    background-color: #535a62; /* Hover background color */
    color: #fff; /* Hover text color */
    cursor: pointer; /* Change cursor to pointer */
    transform: translateY(-2px); /* Slight lift effect on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Shadow on hover */
  }
  
/* Медиазапросы */

/* Для мобильных устройств */

.gif-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 768px) {
    *{
        overflow-x: hidden;
    }.hamburger{
        display: flex;
    }
    .list-group-item{
        background-color: #191411;
        color: white;
    }
    .common-title{
        font-size:34px;
    }
    .hamburger{
        left: 370px;
    }
#coming{
   max-width: 100%;
}
#bottom{
  
    position: relative;
    left: 10px;
}
.main-image{
    position: relative;
    top: 20px;
  
    width: 40px;
    margin-left: 1px;

}
.roadmap-pictures {
    max-width: none;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.roadmap-pictures img{
    margin-left: 25px;
    border-radius: 50%;
}
#img{
    position: relative;
    top: 20px;
    height: 500px;
    width: 500px;
}
   
#roadmaptext{
    font-size: 1px;
    max-width: 100%;
    text-align: center;
}

}
#omo{
    margin-left: -10px;
}

.gif-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    position: relative;
    top: 100px;
  left: 10px;
   
   width: 200px;
}
   
    .container {
        padding: 0 20px;
    }

    .main-title {
        font-size: 40px;
        line-height: 50px;
    }

    .main-text {
        font-size: 16px;
        line-height: 24px;
    }
.menu{
    display: none;
}
    .menu-list {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .menu-item {
        margin-right: 0;
        margin-bottom: 20px;
        font-size: 18px;
    }

    .main-info {
        margin-bottom: 50px;
        max-width: 60%;
    }

    .main-image {
        
        margin-top: 20px;
        position: relative;
        left: -20px;
        width:390px;
    }

    .why-items {
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

    .tokenomics-list {
        flex-direction: column;
        font-size: 20px;
    }

    .tokenomics-menu {
        padding-left: 0;
        padding-top: 0;
    }

    .footer .container {
        flex-direction: column;
        text-align: center;
    }

    .rights {
        font-size: 14px;
    }
  /* #small{
        font-size: 100px;
    } */



/* Для планшетов */
@media screen and (max-width: 1024px) {
   
    .container {
        padding: 0 30px;
    }

    .main-title {
        font-size: 50px;
        line-height: 70px;
    }

    .menu-list {
        flex-direction: row;
        justify-content: center;
    }

    .menu-item {
        font-size: 24px;
        margin-right: 50px;
    }

    .tokenomics-list {
        flex-direction: column;
        font-size: 22px;
    }

    .footer .container {
        flex-direction: row;
    }
}